{
    "swagger": "2.0",
    "info": {
        "description": "This API is a self-made project made with golang, this repository can be accessed on: https://github.com/FreeJ1nG/freejing-be",
        "title": "FreeJinG API",
        "contact": {
            "name": "Andrew Jeremy",
            "email": "Andrewjeremy12345@gmail.com"
        },
        "version": "1.0"
    },
    "host": "api.freejing.com",
    "paths": {
        "/v1/blogs": {
            "post": {
                "description": "Create new blog post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "blog"
                ],
                "summary": "Create new blog post",
                "parameters": [
                    {
                        "description": "Create Blog Post",
                        "name": "post",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/blog.Post"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/blog.Post"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "blog.Post": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "string"
                },
                "create_date": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            }
        }
    }
}