definitions:
  dbquery.Blog:
    properties:
      content:
        type: string
      create_date:
        type: string
      id:
        type: integer
      title:
        type: string
    type: object
  httpm.Response:
    properties:
      data: {}
      errors:
        type: string
      statusCode:
        type: integer
      success:
        type: boolean
    type: object
host: api.freejing.com
info:
  contact:
    email: Andrewjeremy12345@gmail.com
    name: Andrew Jeremy
  description: 'This API is a self-made project made with golang, this repository
    can be accessed on: https://github.com/FreeJ1nG/freejing-be'
  title: FreeJinG API
  version: "1.0"
paths:
  /v1/blogs:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dbquery.Blog'
            type: array
      summary: Get blog posts
      tags:
      - blog
    post:
      consumes:
      - application/json
      parameters:
      - description: Create Blog Post
        in: body
        name: post
        required: true
        schema:
          $ref: '#/definitions/dbquery.Blog'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dbquery.Blog'
      summary: Create new blog post
      tags:
      - blog
  /v1/blogs/{id}:
    delete:
      responses:
        "204":
          description: No Content
      summary: Delete blog post with a certain id
      tags:
      - blog
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/httpm.Response'
            - properties:
                data:
                  $ref: '#/definitions/dbquery.Blog'
              type: object
      summary: Get blog post with a certain id
      tags:
      - blog
    put:
      consumes:
      - application/json
      parameters:
      - description: Update Blog Post
        in: body
        name: post
        required: true
        schema:
          $ref: '#/definitions/dbquery.Blog'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dbquery.Blog'
      summary: Update blog post with a certain id
      tags:
      - blog
swagger: "2.0"
